<h2>Add an album</h2>

<form action="/albums" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">

  <label for="artist_id">Select an artist:</label>
  <select name="artist_id">
    <% @artists.each do |artist| %>
      <option value="<%= artist.id %>"><%= artist.name %></option>
    <% end %>
  </select>

  <input type='submit' value="Submit album">
</form>

